<%- include('partials/header') -%>
<div class="container">
    <div>
        <div>
            <div>
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <a href="/logout">Logout</a>
            </div>
            <div>
                <h2>Start a new tasting</h2>
                <form action="/tasting/createTasting" enctype="application/x-www-form-urlencoded" method="POST">
                <div>
                    <label for="title">Name your Tasting session</label>
                    <input type="text" id="title" name="title">
                </div>
                <div>
                    <label for="date">Date of session</label>
                    <input type="date" id="date" name="date">
                </div>
                <button type="submit" value="Upload">Submit</button>
                </form>
            </div>
        </div>
        
        <div>
            <ul>
                <% for(let i = 0; i < tastings.length; i++) {%>
                <li>
                    <a href="/post/<%= tastings[i]._id%>">
                        <img src="<%= tastings[i].image%>">
                    </a>
                </li>
                <% } %>
            </ul>
            <div>
                <a href="/feed">Return to Feed</a>
            </div>  
        </div>  
    </div>
</div>

<%- include('partials/footer') -%>